

.cardsPetsContainer{
    margin-top: 2%;
}
.cardPet{
    width: 14rem;
    padding: 1%;
}
@media screen and (max-width: 768px) {
    .cardsPetsContainer{
        margin-top: 2%;
    }
    .cardPet{
        width: 8rem;
        padding: 1%;
    }
}